.close {
    height: 15px;
    cursor: pointer;
    position: inherit;
    filter: brightness(0) saturate(100%) invert(60%) sepia(95%) saturate(7500%) hue-rotate(360deg) brightness(80%) contrast(126%);
}

.snack {
    color: #333;
    display: inline;
    margin-left: 3px;
    position: inherit;
    border-radius: 4px;
    word-break: break-all;
    background-color: #fff;
    border: 1px solid #d4d4d4;
}